<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budgeting_app">
    <!-- permission required to automatically restart a repeating alarm if the user reboots the device -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetingApp">
        <activity
            android:name=".ui.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PassCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MonthlyAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.WeeklyAnalyticsActivity"
            android:exported="false" />
        <activity android:name=".ui.DailyAnalyticsActivity" />
        <activity android:name=".ui.ChooseAnalyticsActivity" />
        <activity android:name=".ui.WeekSpendingActivity" />
        <activity android:name=".ui.TodaySpendingActivity" />
        <activity android:name=".ui.BudgetActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.RegistrationActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity
            android:name=".ui.Splash_ScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".notification.MyNotificationPublisher" />
    </application>

</manifest>